{
    "env": {
        "development": {
            "exclude": ["node_modules/@babel/**", "node_modules/core-js/**"],
            "presets": [
                [
                    "@babel/preset-env",
                    {}
                ]
            ],
            "plugins": [
                "add-module-exports",
                "@babel/plugin-transform-object-assign",
                "@babel/plugin-proposal-class-properties",
                [
                    "module-resolver",
                    {
                        "root": [
                            "./"
                        ],
                        "alias": {
                            "@src": "./src",
                            "@libs": "./src/libs",
                            "@components": "./src/components",
                            "@core": "./src/core",
                            "@utils": "./src/utils",
                            "@assets": "./src/assets"
                        }
                    }
                ]
            ]
        },
        "production": {
            "exclude": [
                "node_modules/@babel/**", "node_modules/core-js/**"
            ],
            "presets": [
                "env",
                "minify",
                "@babel/preset-env"
            ],
            "plugins": [
                "add-module-exports",
                "@babel/plugin-transform-object-assign",
                "@babel/plugin-proposal-class-properties"
            ]
        }
    }
}
